:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

h1 {
  text-align: center;
  font-family: Monospace;
  margin: 1rem 0 3rem 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header-img {
  width: 100%;
  height: 200px;
  background: url('http://cdn.shopify.com/s/files/1/0769/0373/t/24/assets/logo.png');
  background-color: transparent;
  background-size: contain;
  /* border-bottom: solid;
  border-width: 1px; */
  border-color: rgb(146, 146, 146);
}

section {
  min-width: 20rem;
  border: thin solid #ffffff;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

section h2 {
  padding-bottom: 1rem;
  font-family: Palatino;
  font-size: 6vw;
  line-height: 8vw;
  margin: 0;
  font-weight: 900;
  background: url(https://wallpaperaccess.com/full/250612.png);
  background-size: 100%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.08);
  animation: zoomout 10s ease 500ms forwards;
}
@keyframes zoomout {
  from {
    background-size: 30%;
  }
  to {
    background-size: 100%;
  }
}

.playerone {
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
}

.playertwo {
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
}

/* section h3 {
  margin-top: 1rem;
  font-family: Monospace;
  font-size: 3rem;
  color: red;
  background-color: black;
  padding: 0.5rem;
} */

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset button {
  padding: 0.5rem;
  font-size: 30px;
  margin: 0.5rem;
  /* background: url(https://i.redd.it/vdhgv54ndnj21.png);
  background-size: 250%; */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 170% 170%;
  animation: gradient 8s ease infinite;
}

footer {
  position: absolute;
  bottom: 0;
  width: 85%;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(146, 146, 146);
}

footer p {
  text-align: center;
  font-size: px;
  font-family: cursive;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 250% 250%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
